baseURL: https://grafana.github.io/grafana-operator/
title: grafana-operator
contentDir: content
enableRobotsTXT: true
enableGitInfo: true
pygmentsCodeFences: true
pygmentsUseClasses: false
pygmentsUseClassic: false
pygmentsStyle: tango
permalinks:
  blog: /:section/:year/:month/:day/:slug/
imaging:
  resampleFilter: CatmullRom
  quality: 75
  anchor: smart
markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    style: tango
    noClasses: false
params:
  copyright: Grafana Operator Team
  version_menu: Releases
  archived_version: false
  version: v5.21.4
  url_latest_version: https://example.com
  github_repo: https://github.com/grafana/grafana-operator
  github_branch: master
  path_base_for_github_subdir:
    from: .*?/grafana-operator/(.*)
    to: $1
  offlineSearch: true
  prism_syntax_highlighting: false
  ui:
    breadcrumb_disable: false
    navbar_logo: true
    navbar_translucent_over_cover_disable: true
    sidebar_menu_compact: true
    sidebar_search_disable: false
    showLightDarkModeMenu: true
    ul_show: 2
    sidebar_menu_foldable: false
  links:
    developer:
      - name: GitHub
        url: https://github.com/grafana/grafana-operator
        icon: fab fa-github
      - name: Slack
        url: https://grafana.slack.com/messages/grafana-operator/
        icon: fab fa-slack
module:
  hugoVersion:
    extended: true
    min: 0.134.0
  imports:
    - path: github.com/google/docsy
      disable: false
    - path: github.com/google/docsy/dependencies
      disable: false
  mounts:
    - source: ../docs
      target: content
    - source: ../examples
      target: content/docs/examples
    - source: ../deploy/helm/grafana-operator/README.md
      target: content/docs/installation/helm.md
