apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: olm
    app.kubernetes.io/name: grafana-operator
  name: grafana-operator-operator-metrics-service
spec:
  ports:
  - name: metrics
    port: 9090
    protocol: TCP
    targetPort: metrics
  - name: pprof
    port: 8888
    protocol: TCP
    targetPort: pprof
  selector:
    app.kubernetes.io/managed-by: olm
    app.kubernetes.io/name: grafana-operator
status:
  loadBalancer: {}
