---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-operator-controller-manager
  namespace: default
  labels:
    app.kubernetes.io/name: grafana-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana-operator
  strategy: {}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grafana-operator
    spec:
      containers:
        - args:
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=0.0.0.0:9090
            - --leader-elect
            # - --max-concurrent-reconciles=1
          image: ghcr.io/grafana/grafana-operator:v5.16.0
          imagePullPolicy: Always
          ports:
            - containerPort: 9090
              name: metrics
              protocol: TCP
            - containerPort: 8888
              name: pprof
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 20Mi
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          volumeMounts:
            - name: dashboards-dir
              mountPath: /tmp/dashboards
            - name: kubeauth-token-volume
              mountPath: /var/run/secrets/grafana.com/serviceaccount
              readOnly: true
      volumes:
        - name: dashboards-dir
          emptyDir: {}
        - name: kubeauth-token-volume
          projected:
            sources:
            - serviceAccountToken:
                audience: operator.grafana.com
                expirationSeconds: 3600
                path: token
      securityContext:
        runAsNonRoot: true
      serviceAccountName: grafana-operator-controller-manager
      terminationGracePeriodSeconds: 10
