apiVersion: authorization.openshift.io/v1
kind: ClusterRole
metadata:
  name: grafana-operator-cluster-role
rules:
  - apiGroups:
      - ""
    attributeRestrictions: null
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - integreatly.org
    attributeRestrictions: null
    resources:
      - grafanadashboards
      - grafanas
    verbs:
      - '*'