---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: grafanadatasources.grafana.integreatly.org
spec:
  group: grafana.integreatly.org
  names:
    kind: GrafanaDatasource
    listKind: GrafanaDatasourceList
    plural: grafanadatasources
    singular: grafanadatasource
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: GrafanaDatasource is the Schema for the grafanadatasources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GrafanaDatasourceSpec defines the desired state of GrafanaDatasource
            properties:
              datasource:
                properties:
                  access:
                    type: string
                  basicAuth:
                    type: boolean
                  basicAuthUser:
                    type: string
                  database:
                    type: string
                  editable:
                    type: boolean
                  isDefault:
                    type: boolean
                  jsonData:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  name:
                    type: string
                  orgId:
                    format: int64
                    type: integer
                  secureJsonData:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  type:
                    type: string
                  uid:
                    type: string
                  url:
                    type: string
                  user:
                    type: string
                type: object
              instanceSelector:
                description: selects Grafana instances for import
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              plugins:
                description: plugins
                items:
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                  required:
                  - name
                  - version
                  type: object
                type: array
              resyncPeriod:
                description: how often the datasource is refreshed, defaults to 24h
                  if not set
                type: string
              secrets:
                description: secrets used for variable expansion
                items:
                  type: string
                type: array
            type: object
          status:
            description: GrafanaDatasourceStatus defines the observed state of GrafanaDatasource
            properties:
              hash:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
