# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/grafana.integreatly.org_grafanas.yaml
- bases/grafana.integreatly.org_grafanadashboards.yaml
- bases/grafana.integreatly.org_grafanadatasources.yaml
- bases/grafana.integreatly.org_grafanafolders.yaml
- bases/grafana.integreatly.org_grafanaalertrulegroups.yaml
- bases/grafana.integreatly.org_grafanacontactpoints.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_grafanas.yaml
#- patches/webhook_in_grafanadashboards.yaml
#- patches/webhook_in_grafanadatasources.yaml
#- patches/webhook_in_grafanafolders.yaml
#- patches/webhook_in_grafanaalertrulegroups.yaml
#- patches/webhook_in_grafanacontactpoints.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_grafanas.yaml
#- patches/cainjection_in_grafanadashboards.yaml
#- patches/cainjection_in_grafanadatasources.yaml
#- patches/cainjection_in_grafanafolders.yaml
#- patches/cainjection_in_grafanaalertrulegroups.yaml
#- patches/cainjection_in_grafanacontactpoints.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
