apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana-httproute-filters
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    security:
      admin_user: root
      admin_password: secret
  httpRoute:
    spec:
      parentRefs:
        - name: my-gateway
          namespace: default
      hostnames:
        - grafana.example.com
      rules:
        - filters:
            - type: RequestHeaderModifier
              requestHeaderModifier:
                add:
                  - name: X-Custom-Header
                    value: "grafana-operator"
                  - name: X-Request-ID
                    value: "{{.request.id}}"
                remove:
                  - X-Unwanted-Header
            - type: ResponseHeaderModifier
              responseHeaderModifier:
                add:
                  - name: X-Grafana-Version
                    value: "managed-by-operator"
                  - name: X-Frame-Options
                    value: "SAMEORIGIN"
