name: KinD End-to-End

on:
  pull_request:
    branches: [master]
  merge_group:

permissions:
  contents: read

jobs:
  docs_only_check:
    name: Check for docs-only change
    runs-on: ubuntu-latest
    outputs:
      docs_only: ${{ steps.docs_only_check.outputs.docs_only }}
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - id: changed-files
        name: Get changed files
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46.0.5
        with:
          files_ignore: |
            **/*.md
            **/*.html
            **/*_test.go
            hugo/**
            docs/**
            examples/**

      - id: docs_only_check
        if: steps.changed-files.outputs.any_changed != 'true'
        name: Check for docs-only changes
        run: echo "docs_only=true" >> $GITHUB_OUTPUT

  e2e-tests:
    name: e2e on kind ${{ matrix.version }}
    runs-on: ubuntu-latest
    needs:
      - docs_only_check
    if: (needs.docs_only_check.outputs.docs_only != 'true')
    env:
      KUBECONFIG: /home/runner/.kube/kind-grafana-operator-e2e
    strategy:
      matrix:
        version:
          - v1.31.9
          - v1.32.8
          - v1.33.4
          - v1.34.0
    steps:
      - name: Pre-pull kind image
        run: |
          docker pull kindest/node:${{ matrix.version }} > /dev/null 2>&1 &

      - name: Clone repo and checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - name: Install go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Create KinD cluster ${{ matrix.version }}
        id: kind
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KIND_NODE_VERSION: "${{ matrix.version }}"
        run: |
          make e2e-kind

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4
        with:
          version: ${{ matrix.version }}

      - name: Build and load images
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KO_DOCKER_REPO: ko.local/grafana/grafana-operator
        run: |
          make ko-build-kind

      - name: Run e2e tests
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Run e2e
          VERSION=latest make e2e

      - name: Debug failure
        if: failure()
        env:
          NAMESPACE: default
        run: |
          set -e
          kubectl version
          kubectl get all -A
          kubectl get grafanas -A
          kubectl get crd
          POD=$(kubectl get pods -n $NAMESPACE -l app.kubernetes.io/name=grafana-operator --output='jsonpath={.items[].metadata.name}')
          echo "pod logs"
          kubectl logs -n $NAMESPACE $POD -c manager
          echo "previous pod logs (if any)"
          kubectl logs -p -n $NAMESPACE $POD -c manager || true

  end-to-end:
    runs-on: ubuntu-latest
    needs:
      - e2e-tests
    steps:
      - run: |
          echo "All E2E tests ran successfully"
