# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "0 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue hasn't been updated for a while, marking as stale, please respond within the next 7 days to remove this label"
          stale-pr-message: "This PR hasn't been updated for a while, marking as stale"
          stale-issue-label: "stale"
          stale-pr-label: "stale"
          # mark issues and PR's as stale after this many days
          days-before-stale: 30
          # close issues and PR's that are marked as stale after this many days
          days-before-close: 7
          # don't mark triaged issues as stale
          exempt-issue-labels: "triage/accepted"
          # unmark as stale if someone responds
          remove-issue-stale-when-updated: true
          remove-pr-stale-when-updated: true
